// Primary Colors SCSS HEX
$cp-darkmossgreen: #606c38ff;
$cp-pakistangreen: #283618ff;
$cp-dark: #2b2b2b;
$cp-white: #eeeeee;
$cp-cornsilk: #fefae0ff;
$cp-earthyellow: #dda15eff;
$cp-tigerseye: #bc6c25ff;

// font colors
$cf-white: #eeeeee;
$cf-cornsilk: #fefae0ff;
$cf-dark: #2b2b2b;
$cf-pakistangreen: #283618ff;

// font-size
$fs-h1: 3rem;
$fs-h2: 2.5rem;
$fs-h3: 2rem;
$fs-h4: 1.5rem;
$fs-btn: 1.25rem;
$fs-p: 1rem;

// border-radius
$br-sm: .25rem;
$br-m: .5rem;
$br-l: 1rem;

// box-shadow
$bs-dark: 0 0 5px 2px rgba(0, 0, 0, .3);
$bs-btn: 0px 1px 2px 1px rgba(0, 0, 0, .5);
$bs-btnHover: 0px 3px 4px 2px rgba(0, 0, 0, .5);

//margin
$mb-section: 4rem;
$mb-h1: 4rem;
$mb-btn: 4rem;
$mb-h2: 2rem;
$mb-h3: 1.5rem;
$mb-h4: 1rem;
$mb-p: 1rem;




