.header {
    background: url(/img/aaron-burden-c333d6YEhi0-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 100vh;

    padding: 2rem;
}
